<div class="dialog">
  <h1 class="dialog-title">{{ data.title }}</h1>
  <form [formGroup]="formGroup" class="dialog-content">
    <mat-form-field
      *ngFor="let field of data?.rows"
      appearance="outline"
      class="form-field"
      hideRequiredMarker
      [class.filled-field]="checkIfFieldFilled(field.code)"
    >
      <mat-label class="name-label">{{ field.name }}</mat-label>
      <input
        class="name-input"
        type="text"
        matInput
        placeholder="{{ field.name }}"
        formControlName="{{ field.code }}"
      />
      <mat-error
        align="end"
        *ngIf="
          formGroup.controls[field.code].hasError('required') &&
          formGroup.controls[field.code].dirty
        "
      >
        Это обязательное поле
      </mat-error>
    </mat-form-field>
  </form>

  <div class="dialog-actions">
    <button
      mat-button
      class="dialog-button cancel-button"
      (click)="onCancelClick()"
    >
      Отмена
    </button>
    <button
      mat-button
      class="dialog-button confirm-button"
      (click)="onSaveClick()"
      [disabled]="formGroup.invalid"
    >
      Сохранить
    </button>
  </div>
</div>
