<div class="table">
  <div class="toolbar">
    <button class="toolbox-button" mat-icon-button (click)="addData()">
      <mat-icon fontIcon="add"></mat-icon>
    </button>

    <mat-form-field class="filter">
      <mat-label>Поиск</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Введите данные для поиска"
        #input
      />
    </mat-form-field>
  </div>

  <div class="table-content">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.code">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [class]="column.code + '-column table-column table-header'"
        >
          {{ column.name }}
        </th>
        <td
          (click)="editData(element.id)"
          mat-cell
          *matCellDef="let element; let i = index"
          [class]="column.code + '-column table-column table-cell'"
        >
          <img
            *ngIf="column.code == 'picture'; else defaultCell"
            class="motor-img"
            [src]="
              element[column.code]
                ? 'assets/' + element[column.code] + '.jpg'
                : ''
            "
            alt="{{ element[column.code] }}"
          />
          <ng-template #defaultCell>{{ element[column.code] }}</ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="empty">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button
            class="toolbox-button"
            mat-icon-button
            (click)="deleteData(row)"
          >
            <mat-icon fontIcon="delete"></mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="table-row"
      ></tr>
    </table>
  </div>
</div>
