@import "./dialogs.scss";
html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.email-column .mat-sort-header-container,
.phone-column .mat-sort-header-container {
  justify-content: flex-end;
}

.mat-mdc-checkbox.mat-accent {
  /* цвет фигуры */
  --mdc-checkbox-unselected-icon-color: #dadada; /* изначальный */
  --mdc-checkbox-unselected-pressed-icon-color: #dadada; /* удержание */
  --mdc-checkbox-unselected-focus-icon-color: #dadada; /* нажатие и отведение */
  --mdc-checkbox-unselected-hover-icon-color: #dadada; /* наведение */
  --mdc-checkbox-disabled-selected-icon-color: #dadada;
  --mdc-checkbox-disabled-unselected-icon-color: #dadada;

  /* цвет выбора */
  --mdc-checkbox-selected-checkmark-color: #ffffff; /* цвет выбора */
  --mdc-checkbox-selected-focus-icon-color: #4a95f7;
  --mdc-checkbox-selected-hover-icon-color: #4a95f7; /* наведение */
  --mdc-checkbox-selected-icon-color: #4a95f7; /* выбранный */
  --mdc-checkbox-selected-pressed-icon-color: #4a95f7; /* удержание */
}

.mat-mdc-icon-button {
  --mat-mdc-button-persistent-ripple-color: #b5d3ff;
  --mat-mdc-button-ripple-color: #e2eeff;
}
